<!-----------------------------------------Rajouter une photo au devis---------------------------------------------->
<section id="ajouterPhoto">       
<div class="row">
	<div class="col-md-6">
	    <form style="margin:2%;">
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="photoDevis">Photo</label>
					<input type="file" name="image" id="photoDevis">
				</div>
				<div class="form-group col-md-3" style="text-align: right;" id="photoAjoutee">
					<img src="#" width="42" height="42">
				</div>
				<div class="form-group col-md-3">
					<label for="listeTypeAmenagements">Type d'amenagement</label>
					<select class="form-control" id="listeTypeAmenagements">
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3" style="text-align: right;" id="ajouterPhoto">
					<input type="submit" id="btn-ajout-photo" class="btn btn-danger"  value="Ajouter">
				</div>
			</div>
		</form>
	</div>
</div>
</section>