     
    <!---------------------------------------Confirmer inscription-------------------------------------------------------------->

    <section id="Register-confirmation">
      <table id="Register-confirmation" class="table table-bordered" >
        <thead>
          <tr>
            <th scope="col">prénom</th>
            <th scope="col">nom</th>
            <th scope="col">status</th>
            <th scope="col">lier client</th>
            <th scope="col">Confirmer</th>
          </tr>
        </thead>
        <tbody id="Register-confirmation-body">
              <!-----------------------------lier au client --------------------------------->
              <!----
            </th>
            <th><button id="bnt-Register-confirmation" class="btn btn-info"> Confirmer</button></th>
          </tr>--->
          
        </tbody>
        </table>
    </section>




