   <!---------------------------------------Connexion/inscription-------------------------------------------------------------->
   <div class="container login-container" id="login-form">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login for Form</h3>
            <form>
                <div class="form-group">
                    <input id="login-email" type="email" class="form-control login" placeholder="Your Email *"  />
                </div>
                <div class="form-group">
                    <input id="login-pwd" type="password" class="form-control login" placeholder="Your Password *" />
                </div>
                <div class="form-group">
                    <button id="btn-connexion" class="btnSubmit" value="Login" >log in</button>
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Register for Form</h3>
            <form>
                <div class="form-group">
                  <input id="Register-lastname" type="text" class="form-control Register" placeholder="lastname *" value="" />
              </div>
                <div class="form-group">
                    <input id="Register-firstname" type="text" class="form-control Register" placeholder="firstname *" value="" />
                </div>
                <div class="form-group">
                  <input id="Register-email" type="email" class="form-control Register" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                  <input id="Register-pseudo" type="text" class="form-control Register" placeholder="pseudo *" value="" />
              </div>
                <div class="form-group">
                    <input id="Register-pwd" type="password" class="form-control Register" placeholder="Your Password *" value="" />
                </div>
                
                <div class="form-group">
                  <input id="Register-city" type="text" class="form-control Register" placeholder="ville *" value="" />
              </div>
                <div class="form-group">
                    <input id="btn-register" type="submit" class="btnSubmit" value="Register" />
                </div>
            </form>
        </div>
    </div>
  </div>