<div style="height: 1000px;">

</div>
       <script src="./JS/index.js" type="module"></script>
       <script src="./JS/introduireDevis.js" type="module"></script>
       <script src="./JS/confirmerInscription.js" type="module"></script>
       <script src="./JS/connexion.js" type="module"></script>
       <script src="./JS/afficherClients.js" type="module"></script>
       <script src="./JS/afficherDevis.js" type="module"></script>
       <script src="./JS/afficherPhotosClient.js" type="module"></script>
       <script src="./JS/afficherUtilisateurs.js" type="module"></script>
       <script src="./JS/detailsDevis.js" type="module"></script>
       <script src="./JS/rendreDevisVisible.js" type="module"></script>
       <script src="./JS/selectionnerTypeAmenagement.js" type="module"></script>
</body>
<footer>
    <p style="text-align: center; background-color: gray; height: 100px;">footer</p>
  </footer>
</html> 