<h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <h1>test</h1>
       <script src="./JS/index.js" type="module"></script>
</body>
<footer>
    <p style="text-align: center; background-color: gray; height: 100px;">footer</p>
  </footer>
</html> 