<!-----------------------------------------Voir ses devis(pour client)---------------------------------------------->
<section id="voir-devis-client">
    <h4>Mes devis</h4>
    <br/>
    <div class="" id="voir-devis-client">
      <table class="table table-bordered">
        <thead>
            <th><span>Référence</span></th>	
          <th><span>Date</span></th>
          <th><span>Montant</span></th>
          <th><span>Durée des travaux</span></th>
          <th><span>Photo</span></th>
          <th><span>Etat</span></th>
        </thead>
        <tbody>
          <tr>
            <td style="width: 15%;" id="id_devis"></td>
            <td style="width: 15%;" id="date_devis"></td>
            <td style="width: 15%;" id="montant_devis"></td>
            <td style="width: 15%;" id="duree_travaux"></td>
            <td style="width: 15%;" id="photo_devis"></td>
            <td style="width: 15%;" id="etat_devis"></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>