<!-----------------------------------------Voir details devis---------------------------------------------->
<section id="voir-details-devis">
	<div class="row">
		<div class="col-md-6">
		    <div style="margin:2%;">
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="dateDevis">Date</label>
		         <input type="text" class="form-control" id="dateDevis" value="DATE" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="etatDevis">Etat</label>
		         <input type="text" class="form-control" id="etatDevis" value="ETAT" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="montantDevis">Montant</label>
		         <input type="text" class="form-control" id="montantDevis" value="MONTANT" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="inputDate">Date de debut de travaux</label>
		         <input type="date" class="form-control" id="dateDebutTravaux">
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="typeAmenagementDevis">Type d'amenagement</label>
		         <input type="text" class="form-control" id="typeAmenagementDevis" value="TYPE AMENAGEMENT" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="dureeTravauxDevis">Duree</label>
		         <input type="text" class="form-control" id="dureeTravauxDevis" value="DUREE TRAVAUX" disabled>
		       </div>
		       <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-devis" class="btn btn-danger"  value="OK">
			   </div>
			   <div>
				<input type="submit" id="btn-devis-repousserDate" class="btn btn-warning"  value="repousserDate">
			   </div>
		        <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-devis-annuler" class="btn btn-danger"  value="Annuler devis">
		       </div>
		     </div>
			</div><!---form de base-->
		</div> 
		<div class="col-md-6">
			<form style="margin:2%;">
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="nomClient">Nom</label>
		         <input type="text" class="form-control" id="nomClient" value="NOM" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="mailClient">Mail</label>
		         <input type="text" class="form-control" id="mailClient" value="MAIL" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="prenomClient">Prenom</label>
		         <input type="text" class="form-control" id="prenomClient" value="PRENOM" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="telClient">Telephone</label>
		         <input type="text" class="form-control" id="telClient" value="TEL" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="codePostalClient">Code Postal</label>
		         <input type="text" class="form-control" id="codePostalClient" value="CODE POSTAL" disabled>
		         </div>
		     </div>
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="villeClient">Ville</label>
		         <input type="text" class="form-control" id="villeClient" value="VILLE" disabled>
		       </div>
		     </div>
		   </form>
		</div>
   </div>
</section>