<!-----------------------------------------Voir devis---------------------------------------------->
<section id="voir-devis">
    <h4>Liste des devis</h4>
    <br/>
    <div class="form-inline" id="search-VoirDevis">
      
      <div class="dropdown" id="dropdownClientName">
        <button class="btn btn-light dropdown-toggle" id="searchDevisNameDropdown" type="button" data-toggle="dropdown">nom client</button>
        <ul class="dropdown-menu"  id="clientNameSearch">
          <input class="form-control" id="inputClientNameSearch" type="text" placeholder="Search..">
        </ul>
      </div>

      
   
      <input class="form-control mr-sm-2" name="date" id="searchDevisDate" type="date">
      <input class="form-control mr-sm-2" name="min" id="searchDevisMin"type="number" placeholder="min prix">
      <input class="form-control mr-sm-2" name="max" id="searchDevisMax" type="number" placeholder="max prix">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu" id="amenagements-devis">
          <input class="form-control myInput" id="myInputSearch" type="text" placeholder="Search..">
         
        </ul>
      </div>

      <button href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search-devis">Search</button>
    </div>
    <div class="" id="voir-devis">
      <table class="table table-bordered">
        <thead>
            <th><span>Référence</span></th>
            <th><span>Client</span></th>
          <th><span>Date</span></th>
          <th><span>Montant</span></th>
          <th><span>Durée des travaux</span></th>
          <th><span>Photo</span></th>
          <th><span>Etat</span></th>
        </thead>
        <tbody>
          <tr>
            <td style="width: 15%;" id="id_devis"></td>
            <td style="width: 15%;" id="client_devis"></td>
            <td style="width: 15%;" id="date_devis"></td>
            <td style="width: 15%;" id="montant_devis"></td>
            <td style="width: 15%;" id="duree_travaux"></td>
            <td style="width: 15%;" id="photo_devis"></td>
            <td style="width: 15%;" id="etat_devis"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>