<!-----------------------------------------Voir details devis---------------------------------------------->
<section id="voir-details-devis">
	<div class="row">
		<div class="col-md-6">
		    <div style="margin:2%;">
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="dateDevis">Date</label>
		         <input type="text" class="form-control" id="dateDevis" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="etatDevis">Etat</label>
		         <input type="text" class="form-control" id="etatDevis" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="montantDevis">Montant</label>
		         <input type="text" class="form-control" id="montantDevis" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="inputDate">Date de debut de travaux</label>
		         <input type="date" class="form-control" id="dateDebutTravaux">
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="typeAmenagementDevis">Type d'amenagement</label>
		         <input type="text" class="form-control" id="typeAmenagementDevis" value="TYPE AMENAGEMENT" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="dureeTravauxDevis">Duree</label>
		         <input type="text" class="form-control" id="dureeTravauxDevis" disabled>
		       </div>
		       <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-devis-etat" class="btn btn-danger"  value="OK">
			   </div>
			   <div>
				<input type="submit" id="btn-devis-repousserDate" class="btn btn-warning"  value="repousserDate">
			   </div>
		        <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-devis-annuler" class="btn btn-danger"  value="Annuler devis">
		       </div>
		     </div>
		     <div class="form-row">
		       <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-ajouter-photo" class="btn btn-secondary"  value="Ajouter photos">
		       </div>
		        <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-photo-preferee" class="btn btn-secondary"  value="Choisir photo preferee">
		       </div>
		     </div>
		      <div class="form-row">
		       <div class="form-group col-md-3" style="text-align: right;">
		         <input type="submit" id="btn-rendre-visible" class="btn btn-danger"  value="Rendre visible">
		       </div>
		     </div>
			</div>
		</div> 
		<div class="col-md-6">
			<form style="margin:2%;" id="clientDevis">
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="nomClient">Nom</label>
		         <input type="text" class="form-control" id="nomClient" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="mailClient">Mail</label>
		         <input type="text" class="form-control" id="mailClient" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="prenomClient">Prenom</label>
		         <input type="text" class="form-control" id="prenomClient" disabled>
		       </div>
		       <div class="form-group col-md-3">
		         <label for="telClient">Telephone</label>
		         <input type="text" class="form-control" id="telClient" disabled>
		       </div>
		     </div>
		     <div class="form-row">
		         <div class="form-group col-md-3">
		         <label for="codePostalClient">Code Postal</label>
		         <input type="text" class="form-control" id="codePostalClient" disabled>
		         </div>
		     </div>
		     <div class="form-row">
		       <div class="form-group col-md-3">
		         <label for="villeClient">Ville</label>
		         <input type="text" class="form-control" id="villeClient" disabled>
		       </div>
		     </div>
		   </form>
		</div>
   </div>
</section>