<!-----------------------------------------Voir utilisateurs---------------------------------------------->
<section id="voir-utilisateurs">
    <h4>Liste des utilisateurs</h4>
    <br/>
    <div class="search-options">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <select name="search_option" class="form-control form-control-lg">
          <option value="nom">Nom</option>
          <option value="ville">Ville</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="" id="voir-utilisateurs">
      <table class="table table-bordered">
        <thead>
          <th><span>Login</span></th>
          <th><span>Prénom</span></th>
          <th><span>Nom</span></th>
          <th><span>Ville</span></th>
          <th><span>Email</span></th>
          <th><span>Statut</span></th>
        </thead>
        <tbody>
          <tr>
            <td style="width: 15%;" id="login_user"></td>
            <td style="width: 15%;" id="prenom_user"></td>
            <td style="width: 15%;" id="nom_user"></td>
            <td style="width: 15%;" id="ville_user"></td>
            <td style="width: 15%;" id="email_user"></td>
            <td style="width: 15%;" id="statut_user"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  