<!-----------------------------------------Voir ses devis(pour client)---------------------------------------------->
<section id="voir-devis-client">
    <h4>Mes devis</h4>
    <br/>
    <div class="form-inline" id="search-devisClient">
    

      <input class="form-control mr-sm-2" name="date" type="date" >
      <input class="form-control mr-sm-2" name="min" type="number" placeholder="min prix">
      <input class="form-control mr-sm-2" name="max" type="number" placeholder="max prix">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type d'Amenagement
        <span class="caret"></span></button>
        <ul class="dropdown-menu" id="amenagements-devis-client">
          <input class="form-control myInput" id="myInputSearchDevisClient" type="text" placeholder="Search..">
         
        </ul>
      </div>

      <button href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search-devis-client">Search</button>
    </div>
    <div class="" id="voir-devis-client">
      <table class="table table-bordered">
        <thead>
            <th><span>Reference</span></th>	
          <th><span>Date</span></th>
          <th><span>Montant</span></th>
          <th><span>Duree des travaux</span></th>
          <th><span>Etat</span></th>
        </thead>
        <tbody>
          <tr>
            <td style="width: 15%;" id="id_devis"></td>
            <td style="width: 15%;" id="date_devis"></td>
            <td style="width: 15%;" id="montant_devis"></td>
            <td style="width: 15%;" id="duree_travaux"></td>
            <td style="width: 15%;" id="etat_devis"></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>