body{
    background-color: rgba(44, 207, 44, 0.349);
    height:100%; margin:0; 
  }
  footer{
    margin-bottom: 0%;
  }
  /* navigation static bar*/
  nav div, nav div ul,nav div ul li, nav div ul li a{
    display: inline;
  }
  
  /*************************************navigation non static bar***************************************************/
  
  nav img{
      max-width: 150px;
      max-height: 150px;
      margin-left: 45%;
      image-resolution: inherit;
  }
  
  #navigation_bar form {
    margin-left: 1%;
  }
  
  #navigation_bar nav ul {
      list-style-type: none;
      margin:auto;
      background-color: #51df4c;
    }
  nav{
        background-color: #51df4c;   
    }
   
   nav li {
      display: inline-block;
    }
  nav li a {
      display: inline-block;
      color: darkgreen;
      text-align: left;
      text-decoration: none;
      padding: 8% 0%;
      padding-left: 16px;
      margin-right: auto;
  
    }
    nav li a:any-link{
        color: darkgreen;
        text-decoration: none;
    }
    nav li a:hover {
        color: gray;
        text-decoration: none;
    }
  /*************************************login css***************************************************/
  
  
    .login-container{
      margin-top: 5%;
      margin-bottom: 5%;
  }
  .login-form-1{
      padding: 5%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3{
      text-align: center;
      color: #333;
  }
  .login-form-2{
      padding: 5%;
      background: #25a50bab;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-2 h3{
      text-align: center;
      color: #fff;
  }
  .login-container form{
      padding: 10%;
  }
  .btnSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      border: none;
      cursor: pointer;
  }
  .login-form-1 .btnSubmit{
      font-weight: 600;
      color: #fff;
      background-color: #25a50bab;
  }
  .login-form-2 .btnSubmit{
      font-weight: 600;
      color: #25a50bab;
      background-color: #fff;
  }
  .login-form-2 .ForgetPwd{
      color: #fff;
      font-weight: 600;
      text-decoration: none;
  }
  .login-form-1 .ForgetPwd{
      color: #0062cc;
      font-weight: 600;
      text-decoration: none;
  }
  
  
  /*************************************Carousel css***************************************************/
    
    .carousel-inner img{
      
      background: local;
      width: 100%;;
      min-height: 700px;
      max-height: 700px;
    }
    .carousel-item {
      height: 100vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
 
 /*************************************Img devis css***************************************************/
	.ajouterPhoto img{
		max-width:100%;
		height: auto;
	}
	
	.photos-devis-form{
	  border: 1px solid #25a50bab;
  	  border-radius: 5px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	}
	.photos-devis-form form{
	  	padding: 10%;
  		margin: 1rem auto;
  		left: 1;
	}


 