    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
       
    
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/index.css">

        <title>Document</title>
        
    </head>
    <body>
      <div id="success-notification" class="alert alert-success alert-dismissible fixed-bottom" style="text-align: center;">
      </div>
      <div id="error-notification" class="alert alert-danger alert-dismissible fixed-bottom" style="text-align: center;"> 
      </div>
      
      <!------------------------------------navigation static----------------------------------->
      <nav class="nav" id="menu">
      
        <div style="margin-left: 25%;" >
          <a  id="imageMenu" class="nav-item" href="#">
            <img src="./image/rose.gif">
          </a></br>
          <ul class="menu" style="float: left;">
            <li style="display: inline-block;" ><a href="#" id="homePage">HOME</a></li>
            <li style="display: inline-block;" class="nav-item dropdown">
                	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types d'amenagements</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navBarStaticTypesAmenagements"></div>               
             </li>
            <li><a href="#"  class="Register-confirmation-link nav-item">Confirmer inscription</a></li>
            <li><a href="#" class="connexion nav-item" id="connexion">Connexion</a></li>
            <li><a href="#" id="introductionQuote" class="introductionQuote nav-item">Introduire un devis</a></li>
            <li><a href="#" class="mesDevis nav-item" id="mesDevis" >Mes devis</a></li>
            <li><a href="#" class="mesPhotos nav-item" id="mesPhotos" >Mes photos</a></li>
            
          </ul>
        </div>
        <p id="userName" style="margin-left: auto;text-align: right;"></p>
      </br>
      </nav>
      <!------------------------------------navigation non static----------------------------------->
        <nav class="nav fixed-top" id="navigation_bar">
          <form class="form-inline" id="search-homepage">
          <select id="search-option-category" name="search_option" class="form-control form-control-lg">
            <option value="client" id="search-client-link">Client</option>
            <option value="utilisateur" id="search-utilisateur-link">Utilisateur</option>
            <option value="devis" id="search-devis-link">Devis</option>
          </select>
          <button href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search-category">Search</button>
        </form>
           <ul>
                <li><a href="#" id="homePage" class="nav-item">HOME</a></li>
                <li class="nav-item dropdown">
                	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types d'amenagements</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navBarTypesAmenagements"></div>               
                </li>
                <li><a href="#"  class="Register-confirmation-link nav-item">Confirmer inscription</a></li>
                <li><a href="#" class="connexion nav-item" id="connexion">Connexion</a></li>
                <li><a href="#" id="introductionQuote" class="introductionQuote nav-item">Introduire un devis</a></li>
                <li><a href="#" class="mesDevis nav-item" id="mesDevis">Mes devis</a></li>
                <li><a href="#" class="mesPhotos nav-item" id="mesPhotos">Mes photos</a></li>
           </ul>
        </nav>
    

 
    
        
    <!---------------------------------------Carousel-------------------------------------------------------------->
        <section id="carousel">
            <div id="myCarousel" class="carousel slide" data-ride="" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators" id="carousel-indicators">
                
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="carousel-inner" role="listbox">

                </div>
            
                <!-- Left and right controls -->
        		<a class="carousel-control-prev" href="#myCarousel" data-target="#myCarousel" role="button" data-slide="prev">
        			<span class="carousel-control-prev-icon"></span>
        		</a>
    			<a class="carousel-control-next" href="#myCarousel" data-target="#myCarousel" role="button" data-slide="next">
       				<span class="carousel-control-next-icon"></span>
    			</a>
              </div>
    
        
    
        </section>
    <!---------------------------------------HomePage-category-------------------------------------------------------------->
    <section id="3-category" style="margin-left: 15%;">
      <div class="form-row">
    <div class="col-md-3 border border-dark" style="margin-right:1%;">
      Cat1
    </div>
    <div class="col-md-3 border border-dark" style="margin-right:1%;">
      Cat2
    </div>
    <div class="col-md-3 border border-dark" >
      Cat3
    </div>
      </div>
    </section>
   




        <button id="btn-deconnexion"> deconnexion</button>
        
    <!--------------------------------------------------------------ACCUEIL----------------------------------------------------------------------------------------->
    
    
    
    
