    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        
        <title>Document</title>
        
    </head>
    <body>
      
      <!------------------------------------navigation static----------------------------------->
      <nav class="nav" id="menu">
        
            <img src="./img/roses_lilas.gif"></br>
        
      </br>
      </nav>
      <!------------------------------------navigation non static----------------------------------->
        <nav class="nav fixed-top" id="navigation_bar">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
           <ul>
                <li>
                    <a href="#">HOME</a></li>
                <li><a href="#">Catégorie</a></li>
                <li id="list-confirmation-link"><a href="#"  class="Register-confirmation-link">Confirmer inscription</a></li>
                <li id="connexion">
                    <a href="#" class="nav-item" id="connexion">Connexion</a>
                </li>
                
           </ul>
           
        </nav>
      
    <!---------------------------------------Connexion/inscription-------------------------------------------------------------->
    <div class="container login-container" id="login-form">
      <div class="row">
          <div class="col-md-6 login-form-1">
              <h3>Login for Form</h3>
              <form>
                  <div class="form-group">
                      <input id="login-email" type="email" class="form-control" placeholder="Your Email *"  />
                  </div>
                  <div class="form-group">
                      <input id="login-pwd" type="password" class="form-control" placeholder="Your Password *" />
                  </div>
                  <div class="form-group">
                      <button id="btn-connexion" class="btnSubmit" value="Login" >log in</button>
                  </div>
                  <div class="form-group">
                      <a href="#" class="ForgetPwd">Forget Password?</a>
                  </div>
              </form>
          </div>
          <div class="col-md-6 login-form-2">
              <h3>Register for Form</h3>
              <form>
                  <div class="form-group">
                    <input id="Register-lastname" type="text" class="form-control" placeholder="lastname *" value="" />
                </div>
                  <div class="form-group">
                      <input id="Register-firstname" type="text" class="form-control" placeholder="firstname *" value="" />
                  </div>
                  <div class="form-group">
                    <input id="Register-email" type="email" class="form-control" placeholder="Your Email *" value="" />
                  </div>
                  <div class="form-group">
                      <input id="Register-pwd" type="password" class="form-control" placeholder="Your Password *" value="" />
                  </div>
                  <div class="form-group">
                    <input id="Register-city" type="text" class="form-control" placeholder="ville *" value="" />
                </div>
                  <div class="form-group">
                      <input id="btn-register" type="submit" class="btnSubmit" value="Register" />
                  </div>
              </form>
          </div>
      </div>
    </div>
    
        
    <!---------------------------------------Carousel-------------------------------------------------------------->
        <section id="carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="./img/jardin01.jpg" alt="Los Angeles">
                  </div>
            
                  <div class="item">
                    <img src="./img/jardin02.jpg" alt="Chicago">
                  </div>
                
                  <div class="item">
                    <img src="./img/jardin03.jpg" alt="New york">
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a id= "left" class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a id="right" class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    
    
        </section>

        <section id="Register-confirmation">
          <table id="Register-confirmation" class="table table-bordered" >
            <thead>
              <tr>
                <th scope="col">prénom</th>
                <th scope="col">nom</th>
                <th scope="col">status</th>
                <th scope="col">lier client</th>
                <th scope="col">Confirmer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Grégoire</th>
                <th>de Crombrugghe</th>
                <th><div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    fonction
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Client</a>
                    <a class="dropdown-item" href="#">Ouvrier</a>
                  </div>
                </div></th>
                <th></th>
                <th><button id="bnt-Register-confirmation" class="btn btn-info"> Confirmer</button></th>
              </tr>
            </tbody>
            </table>
        </section>

        <section id="test1">
        <h1>TEST 1</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        </section>
    <button id="btn-deconnexion"> deconnexion</button>
    <script src="./JS/index.js" type="module"></script>
<!--------------------------------------------------------------ACCEUILLE----------------------------------------------------------------------------------------->


</body>
<footer>
    <p style="text-align: center; background-color: gray; height: 100px;">footer</p>
  </footer>
</html> 