    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        
        <title>Document</title>
        
    </head>
    <body>
      
      <!------------------------------------navigation static----------------------------------->
      <nav class="nav" id="menu">
        
            <img src="./img/roses_lilas.gif"></br>
        
      </br>
      </nav>
      <!------------------------------------navigation non static----------------------------------->
        <nav class="nav fixed-top" id="navigation_bar">
          <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <select id="search-option-category" name="search_option" class="form-control form-control-lg">
            <option value="client">Client</option>
            <option value="utilisateur">Utilisateur</option>
            <option value="amenagement">Aménagement</option>
            <option value="devis">Devis</option>
            <option value="date">Date</option>
            <option value="montant">Montant</option>
            <option value="type_amenagement">Type d'aménagement</option>
          </select>
          <button href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search-category">Search</button>
        </form>
           <ul>
                <li>
                    <a href="#">HOME</a></li>
                <li><a href="#">Catégorie</a></li>
                <li id="list-confirmation-link"><a href="#"  class="Register-confirmation-link">Confirmer inscription</a></li>
                <li id="connexion">
                    <a href="#" class="nav-item" id="connexion">Connexion</a>
                </li>
                 <li><a href="#" id="introductionQuote" class="nav-item">introduire un devis</a></li>
                
           </ul>
           
        </nav>
      
    <!---------------------------------------Connexion/inscription-------------------------------------------------------------->
    <div class="container login-container" id="login-form">
      <div class="row">
          <div class="col-md-6 login-form-1">
              <h3>Login for Form</h3>
              <form>
                  <div class="form-group">
                      <input id="login-email" type="email" class="form-control" placeholder="Your Email *"  />
                  </div>
                  <div class="form-group">
                      <input id="login-pwd" type="password" class="form-control" placeholder="Your Password *" />
                  </div>
                  <div class="form-group">
                      <button id="btn-connexion" class="btnSubmit" value="Login" >log in</button>
                  </div>
                  <div class="form-group">
                      <a href="#" class="ForgetPwd">Forget Password?</a>
                  </div>
              </form>
          </div>
          <div class="col-md-6 login-form-2">
              <h3>Register for Form</h3>
              <form>
                  <div class="form-group">
                    <input id="Register-lastname" type="text" class="form-control" placeholder="lastname *" value="" />
                </div>
                  <div class="form-group">
                      <input id="Register-firstname" type="text" class="form-control" placeholder="firstname *" value="" />
                  </div>
                  <div class="form-group">
                    <input id="Register-email" type="email" class="form-control" placeholder="Your Email *" value="" />
                  </div>
                  <div class="form-group">
                    <input id="Register-pseudo" type="text" class="form-control" placeholder="pseudo *" value="" />
                </div>
                  <div class="form-group">
                      <input id="Register-pwd" type="password" class="form-control" placeholder="Your Password *" value="" />
                  </div>
                  
                  <div class="form-group">
                    <input id="Register-city" type="text" class="form-control" placeholder="ville *" value="" />
                </div>
                  <div class="form-group">
                      <input id="btn-register" type="submit" class="btnSubmit" value="Register" />
                  </div>
              </form>
          </div>
      </div>
    </div>
    
        
    <!---------------------------------------Carousel-------------------------------------------------------------->
        <section id="carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="./img/jardin01.jpg" alt="Los Angeles">
                  </div>
            
                  <div class="item">
                    <img src="./img/jardin02.jpg" alt="Chicago">
                  </div>
                
                  <div class="item">
                    <img src="./img/jardin03.jpg" alt="New york">
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a id= "left" class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a id="right" class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    
    
        </section>
        
    <!---------------------------------------Confirmer inscription-------------------------------------------------------------->

        <section id="Register-confirmation">
          <table id="Register-confirmation" class="table table-bordered" >
            <thead>
              <tr>
                <th scope="col">prénom</th>
                <th scope="col">nom</th>
                <th scope="col">status</th>
                <th scope="col">lier client</th>
                <th scope="col">Confirmer</th>
              </tr>
            </thead>
            <tbody id="Register-confirmation-body">
              <!---<tr>
                <th>Grégoire</th>
                <th>de Crombrugghe</th>
                <th><div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    fonction
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Client</a>
                    <a class="dropdown-item" href="#">Ouvrier</a>
                  </div>
                </div></th>
                <th>-->
                  <!-----------------------------lier au client --------------------------------->
                  <!----
                </th>
                <th><button id="bnt-Register-confirmation" class="btn btn-info"> Confirmer</button></th>
              </tr>--->
            </tbody>
            </table>
        </section>
        
<!-----------------------------------------Voir utilisateurs---------------------------------------------->
        <section id="voir-utilisateurs">
          <h4>Liste des utilisateurs</h4>
          <br/>
          <div class="search-options">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <select name="search_option" class="form-control form-control-lg">
                <option value="nom">Nom</option>
                <option value="ville">Ville</option>
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <div class="" id="voir-utilisateurs">
            <table class="table table-bordered">
              <thead>
                <th><span>Login</span></th>
                <th><span>Prénom</span></th>
                <th><span>Nom</span></th>
                <th><span>Ville</span></th>
                <th><span>Email</span></th>
                <th><span>Statut</span></th>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 15%;" id="login_user"></td>
                  <td style="width: 15%;" id="prenom_user"></td>
                  <td style="width: 15%;" id="nom_user"></td>
                  <td style="width: 15%;" id="ville_user"></td>
                  <td style="width: 15%;" id="email_user"></td>
                  <td style="width: 15%;" id="statut_user"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>


<!-----------------------------------------introduire un devis---------------------------------------------->
        
        <section id="introductionQuoteForm" class="border border-dark" style="margin:10%; border-radius: 10px;">       
          <div><!-----------------------------------------introduire un nouveau client---------------------------------------------->
            <button class="btn btn-primary" data-toggle="collapse" data-target="#new-Client">nouveau client <span class="glyphicon glyphicon-chevron-down"></span></button>
            <div id="new-Client" class="collapse border border-dark" style="margin:1%; border-radius: 10px;">
              <form style="margin:1%; align-items: center;" >
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-firstName">Prénom</label>
                    <input type="text" class="form-control" id="Quote-Form-firstName" placeholder="Prénom*">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-name">nom</label>
                    <input type="text" class="form-control" id="Quote-Form-name" placeholder="nom*">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-street">Rue</label>
                    <input type="text" class="form-control" id="Quote-Form-street" placeholder="Rue*">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-number">Numéro</label>
                    <input type="text" class="form-control" id="Quote-Form-number" placeholder="Numéro*">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-boite">Boîte</label>
                    <input type="text" class="form-control" id="inputBoite" placeholder="Boîte*">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-postalCode">Code Postal</label>
                    <input type="number" class="form-control" id="Quote-Form-postalCode" placeholder="Code Postal*">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-city">Ville</label>
                    <input type="text" class="form-control" id="Quote-Form-city" placeholder="Ville*">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-email">Email</label>
                    <input type="email" class="form-control" id="Quote-Form-email" placeholder="Email*">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Quote-Form-phoneNumber">num Telephone</label>
                    <input type="tel" class="form-control" id="Quote-Form-phoneNumber" placeholder="num*">
                  </div>
                </div>
              
              </form>
              
            </div>
            <form style="margin:2%;">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="Quote-Form-Client">lié au client</label>
                  <input type="text" class="form-control" id="Quote-Form-Client" placeholder="client*" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="Quote-Form-quoteDate">date du devis</label>
                  <input type="date" class="form-control" id="Quote-Form-quoteDate" placeholder="date*" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="Quote-Form-price">Prix</label>
                  <input type="number" class="form-control" id="Quote-Form-price" placeholder="prix*" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="Quote-Form-duration">Duree</label>
                  <input type="text" class="form-control" id="Quote-Form-duration" placeholder="Duree*" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="Quote-Form-image">Image</label>
                  <input type="file" name="image" id="Quote-Form-image" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="Quote-Form-layoutType">Type d'Aménagement</label>
                  <input type="text" class="form-control" id="Quote-Form-layoutType" placeholder="Aménagement*" required>
                </div>
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3" style="text-align: right;">
                  <input type="submit" id="bnt-IntroductionQuote" class="btn btn-danger"  value="Introduire">
                </div>


            </form>
          </div>
          <img id="imageQuote"src=""/>
        </section>
        
<!-----------------------------------------Voir devis---------------------------------------------->
		<section id="voir-devis">
          <h4>Liste des devis</h4>
          <br/>
          <div class="" id="voir-devis">
            <table class="table table-bordered">
              <thead>
              	<th><span>Client</span></th>
                <th><span>Date</span></th>
                <th><span>Montant</span></th>
                <th><span>Durée des travaux</span></th>
                <th><span>Photo</span></th>
                <th><span>Etat</span></th>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 15%;" id="client_devis"></td>
                  <td style="width: 15%;" id="date_devis"></td>
                  <td style="width: 15%;" id="montant_devis"></td>
                  <td style="width: 15%;" id="duree_travaux"></td>
                  <td style="width: 15%;" id="photo_devis"></td>
                  <td style="width: 15%;" id="etat_devis"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        
<!-----------------------------------------Voir ses devis(pour client)---------------------------------------------->
		<section id="voir-devis_client">
          <h4>Mes devis</h4>
          <br/>
          <div class="" id="voir-devis-client">
            <table class="table table-bordered">
              <thead>
                <th><span>Date</span></th>
                <th><span>Montant</span></th>
                <th><span>Durée des travaux</span></th>
                <th><span>Photo</span></th>
                <th><span>Etat</span></th>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 15%;" id="date_devis"></td>
                  <td style="width: 15%;" id="montant_devis"></td>
                  <td style="width: 15%;" id="duree_travaux"></td>
                  <td style="width: 15%;" id="photo_devis"></td>
                  <td style="width: 15%;" id="etat_devis"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
<!-----------------------------------------Voir clients---------------------------------------------->
        <section id="voir-clients">
          <h4>Liste des clients</h4>
          <br/>
          <div class="search-options">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <select name="search_option" class="form-control form-control-lg">
                <option value="nom">Nom</option>
                <option value="ville">Ville</option>
                <option value="code_postal">Code Postal</option>
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <div class="" id="voir-clients">
            <table class="table table-bordered">
              <thead>
                <th><span>Prénom</span></th>
                <th><span>Nom</span></th>
                <th><span>Code Postal</span></th>
                <th><span>Ville</span></th>
                <th><span>Email</span></th>
                <th><span>Numéro de téléphone</span></th>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 15%;" id="prenom_client"></td>
                  <td style="width: 15%;" id="nom_client"></td>
                  <td style="width: 15%;" id="postalCode_client"></td>
                  <td style="width: 15%;" id="ville_client"></td>
                  <td style="width: 15%;" id="email_client"></td>
                  <td style="width: 15%;" id="tel_client"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>        
        
        <section id="test1">
        <h1>TEST 1</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        </section>
    <button id="btn-deconnexion"> deconnexion</button>
    <script src="./JS/index.js" type="module"></script>
<!--------------------------------------------------------------ACCEUILLE----------------------------------------------------------------------------------------->


</body>
<footer>
    <p style="text-align: center; background-color: gray; height: 100px;">footer</p>
  </footer>
</html> 